<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
    	<link rel="stylesheet" href="$rc.contextPath/static/user/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="$rc.contextPath/static/user/widget/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="$rc.contextPath/static/user/editor/css/editormd.css"/>
		<link rel="stylesheet" href="$rc.contextPath/resources/css/doublecolor.css"/>
		<link rel="stylesheet" href="$rc.contextPath/resources/css/common.css"/>
		<link rel="stylesheet" href="$rc.contextPath/resources/css/base.css"/>
		<link rel="stylesheet" href="$rc.contextPath/resources/css/loginbase.css"/>
		<link rel="stylesheet" href="$rc.contextPath/resources/css/login.css"/>
		<link rel="stylesheet" href="$rc.contextPath/resources/css/core.css"/>
		<link rel="stylesheet" href="$rc.contextPath/resources/css/userstyle.css"/>
		<link rel="stylesheet" href="$rc.contextPath/resources/css/ssq.css"/>
		<link rel="stylesheet" href="$rc.contextPath/resources/css/history.css"/>
		<link rel="stylesheet" href="$rc.contextPath/resources/css/luckyBuy.css"/>
		<script src="$rc.contextPath/static/user/widget/jquery/jquery.min.js"></script>
		<script src="$rc.contextPath/static/user/widget/bootstrap/js/bootstrap.min.js"></script>
		<script src="$rc.contextPath/static/user/widget/bootstrap/js/bootstrap.min.js"></script>
			
    	
		
		
		<style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
</head>