<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        ">

   <context:component-scan base-package="com.doublecolorball.*"/>
  
	<bean id="shiroRealm" class="com.doublecolorball.shiro.ShiroRealm">
		 <!-- 打开缓存 -->
        <property name="cachingEnabled" value="false"/>
        <!-- 打开身份认证缓存 -->
        <property name="authenticationCachingEnabled" value="false"/>
        <!-- 打开授权缓存 -->
        <property name="authorizationCachingEnabled" value="false"/>
	</bean>
	
	
	<bean id="redisManager" class="com.doublecolorball.cache.redis.RedisManager"></bean>

	<bean id="cacheManager" class="com.doublecolorball.cache.redis.RedisCacheManager">
		<property name="redisManager" ref="redisManager"/>
	</bean>

	<bean id="sessionDAO" class="com.doublecolorball.cache.redis.RedisSessionDao">
		<property name="expire" value="36000000"></property>
	</bean>
	
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg name="name" value="zxd_session_id" />
	</bean>

	<bean id="sessionManager"
		class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="sessionDAO" ref="sessionDAO"></property>
		<!-- session过期时间，60小时 -->
		<property name="globalSessionTimeout" value="36000000" />
		<property name="sessionIdCookie" ref="sessionIdCookie" />
		
	</bean>
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroRealm" />
		<property name="cacheManager" ref="cacheManager" />
		<property name="sessionManager" ref="sessionManager"></property>
	</bean>

	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/login.htm" />
        <property name="unauthorizedUrl" value="/unauthorized.json" />
        <property name="successUrl" value="/" />
        <property name="filterChainDefinitions">
            <value>
				/login.htm=anon
				/login/login.json=anon
				/kaptcha.jpg=anon
				/ball/**=user
            </value>
        </property>
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<!--越权 -->
				<prop key="org.apache.shiro.authz.UnauthorizedException">unauthorized</prop>
				<!--未登录 -->
				<prop key="org.apache.shiro.authz.UnauthenticatedException">/login.htm</prop>
			</props>
		</property>
	</bean>
	
</beans>